extends layout

block content
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/game-renderer.js")
    script(src='/javascripts/websocket-client.js')

    // Add a div to center the canvas
    div(style="display: flex; justify-content: center; align-items: center; min-height: 80vh;")
        canvas(id='board' style="background-color: gray;" width='600' height='500')
