doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1= title
      nav
        a(href='/projects') Projects
        a(href='/about') About

    p(id='status')

    block content
