extends layout

block content
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/lobby-client.js')
    
    p(id='status')

    div(style="display: flex; justify-content: flex-start; align-items: center; min-height: 80vh; flex-direction: column;")
        div
            h2 Players in Lobby
            ol(id='playersList')
        div
            h2 Select a room
            select(id="roomSelect")
                option(value="1vs1") 1 vs 1
                option(value="2vs2") 2 vs 2
            
            button(id="joinGameButton", type="button") Join Game
        
